* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Lato;
}

hr {
  border-top: 1px solid #b2b2b7;
}

img,
video {
  border-radius: 5px;
}

button,
select,
input,
textarea {
  border-radius: 3px;
  border: 1px solid black;
}

.mickey-media {
  width: 400px;
}

.social-icon {
  width: 48px;
  padding: 0 10px 0 10px;
}

#social-container {
  text-align: center;
}

#profile-picture {
  width: 100%
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Roboto;
}

#nav-list {
  background-color: #b2b2b7;
  overflow: hidden;
  margin: 0;
}

#nav-bar a {
  font-family: Roboto;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.nav-item {
  display: inline;
  float: left;
}

.nav-active {
  background-color: black;
  border-radius: 5px;
  color: white;
}

.nav-inactive {
  color: black;
}

.nav-item a:hover {
  background-color: #468887;
  border-radius: 5px;
}

#sidebar {
  float: right;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 50px 50px 0 0;
}

#fav-list {
  padding: 0;
  margin: 8px;
}

#fav-list label {
  display: block;
}

#agree-container li:hover {
  cursor: pointer;
  color: #468887;
}

#comments-create {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 16px;
  background: #e6e6e6;
}

#comments-create h1 {
  padding: 20px 0;
  text-align: center;
  background-color: #b3b3b8;
  margin-top: 0;
  margin: -16px -16px 16px -16px;
  border-radius: 5px;
}

#comment-name,
#comment-text-input,
#comment-submit {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  resize: vertical;
}

#comment-submit {
  background-color: #b3b3b8;
}

#comments-create input[type="submit"]:hover {
  background-color: #468887;
  cursor: pointer;
}

#comment-header h2 {
  margin-top: 0;
}

#comment-header i {
  float: right;
}

#comment-header i:hover {
  color: #b3b3b8;
  cursor: pointer;
}

#icon-selected {
  color: #468887;
}

#num-comments {
  vertical-align: top;
  float: right;
  margin: 4px;
  width: 40px;
  padding: 5px;
}

.vertical-divider {
  float: right;
  border-right: 1px solid lightgrey;
  padding-right: 5px;
  margin-right: 5px;
}

.comment-toggle {
  float: right;
  width: 30px;
  height: 100px;
  background-color: darkred;
  border-radius: 5px;
}

.comment {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 10px;
  overflow: auto;
}

.comment-text {
  float: left;
}
