* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Lato;
}

hr {
  border-top: 1px solid #b2b2b7;
}

img,
video {
  border-radius: 5px;
}

button,
select,
input,
textarea {
  border-radius: 3px;
  border: 1px solid black;
}

.mickey-media {
  width: 400px;
}

.social-icon {
  width: 68px;
  padding: 0 10px 0 10px;
}

#social-container {
  text-align: center;
}

#profile-picture {
  width: 100%
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Roboto;
}

#nav-list {
  background-color: #b2b2b7;
  overflow: hidden;
  margin: 0;
}

#nav-bar a {
  font-family: Roboto;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.nav-item {
  display: inline;
  float: left;
}

.nav-active {
  background-color: black;
  border-radius: 5px;
  color: white;
}

.nav-inactive {
  color: black;
}

.nav-item a:hover {
  background-color: #468887;
  border-radius: 5px;
  transition: .3s;
}

#sidebar {
  float: right;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 50px 50px 0 0;
}

#fav-list {
  padding: 0;
  margin: 8px;
}

#fav-list label {
  display: block;
}

#agree-container li:hover {
  cursor: pointer;
  color: #468887;
  transition: .3s
}

#comments-create {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 16px;
  background: #e6e6e6;
}

#comments-create h1 {
  padding: 20px 0;
  text-align: center;
  background-color: #b3b3b8;
  margin-top: 0;
  margin: -16px -16px 16px -16px;
  border-radius: 5px;
}

#comment-name,
#comment-text-input,
#comment-submit {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  resize: vertical;
}

#comment-submit {
  background-color: #b3b3b8;
}

#comments-create button:hover {
  background-color: #468887;
  cursor: pointer;
  transition: .3s;
}

#comment-header h2 {
  margin-top: 0;
}

#comment-header button {
  float: right;
  background: none;
  border: none;
  padding: 0;
}

#comment-header button:hover {
  color: #b3b3b8;
  cursor: pointer;
  transition: .3s;
}

.icon-selected {
  color: #468887;
}

#num-comments {
  vertical-align: top;
  float: left;
  margin: 4px;
  width: 40px;
  padding: 5px;
}

.vertical-divider {
  float: right;
  border-right: 1px solid lightgrey;
  padding-right: 5px;
  margin-right: 5px;
}

.comment-toggle {
  float: right;
  background-color: #468887;
  border-radius: 5px;
  width: 5%;
  margin-left: 1px;
  transition: .5s;
}

.comment-toggle:hover {
  cursor: pointer;
  background-color: #b3b3b8;
  transition: .3s;
}

.comment {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 10px;
  overflow: auto;
  display: flex;
}

.comment-text {
  float: left;
  width: 95%;
}

.comment-delete {
  color: darkgrey;
  text-decoration: line-through;
}

.comment-delete .comment-toggle {
  background-color: #d42f26;
  transition: .5s;
}

#comment-pagination-container {
  margin: 5px 0;
}

.pagination-select input[type="button"]{
  margin-right: 3px;
}

#pagination-selected input[type="button"] {
  background-color: #468887;
}

#comment-pagination-container input[type="button"]:hover {
  background-color: #b3b3b8;
  cursor: pointer;
  transition: .3s;
}

.trash-inactive {
  color: lightgrey;
  transition: 1s;
}

.trash-inactive:hover {
  color: lightgrey !important;
  cursor: auto !important;
}

.trash-active {
  color: #d42f26;
  cursor: pointer;
  transition: 1s;
}

.trash-active:hover {
  cursor: pointer;
  color: #b3b3b8;
  transition: .3s;
}

#comment-filter {
  padding: 5px;
  margin: 4px;
}

.rotate-animated {
  animation: rotate 1s ease;
  animation-iteration-count: 1;
}

.pop-animated {
  animation: popOut .75s ease-in-out;
  animation-iteration-count: 1;
  background-color: #468887;
}

.transform-up-animated {
  animation: transformUp .3s ease-in-out;
}

.transform-down-animated {
  animation: transformDown .3s ease-in-out;
}

.shake-animated {
  animation: shake .5s ease-in-out;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

@keyframes popOut {
  0% {transform: scale3d(.5, .5, .5);}
  20% {transform: scale3d(1.1, 1.1, 1.1);}
  40% {transform: scale3d(.8, .8, .8);}
  60% {transform: scale3d(1.05, 1.05, 1.05);}
  80% {transform: scale3d(.95, .95, .95);}
  100% {transform: scale3d(1, 1, 1);}
}

@keyframes transformUp {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}

@keyframes transformDown {
  0% {transform: translateY(0px);}
  50% {transform: translateY(20px);}
  100% {transform: translateY(0px);}
}

@keyframes shake {
  0% {transform: translateX(0px);}
  20% {transform: translateX(-15px);}
  40% {transform: translateX(15px);}
  60% {transform: translateX(-15px);}
  80% {transform: translateX(15px);}
  100% {transform: translateX(0px);}
}
